<div class="application-box">
    {{!-- Title and Subtitles --}}
    <h1>MY<a class="highlight">FITNESS</a>LOG</h1>
    <h2>A Web Application by Alex Mu&ntilde;oz</h2>
    <h3>Background Image by <a href="https://www.pexels.com/photo/academia-crossfit-gym-kettlebell-1085944/">Vinicius Benedit</a></h3>

    {{!-- Add New Record Form --}}
    <h4>Add New Record</h4>
    <hr>
    <table id="addRecordForm">
        <tr>
            <th>name</th>
            <th>reps</th>
            <th>weight</th>
            <th>date</th>
            <th>units</th>
        </tr>
        <tr>
            <td class="name"><input id="nameInput" type="text" placeholder="name" required/></td>
            <td class="reps"><input id="repsInput" type="number" placeholder="reps" required/></td>
            <td class="weight"><input id="weightInput" type="number" placeholder="weight" required/></td>
            <td class="date"><input id="dateInput" type="date" placeholder="mm/dd/yyyy" required/></td>
            <td class="lbs">
                <select id="lbsInput" required>
                    <option value="1">lbs.</option>
                    <option value="0">kgs.</option>
                </select>
            </td>
            <td class="btn"><button id="addRecordButton">add</button></td>
        </tr>
    </table>

    {{!-- Display Records --}}
    <h4>My Exercises</h4>
    <hr>
    <div id="tableContainer">
        <table id="workoutsTable">
            {{#if results}}
                <tr>
                    <th hidden>id</th>
                    <th>name</th>
                    <th>reps</th>
                    <th>weight</th>
                    <th>date</th>
                    <th>units</th>
                </tr>
            {{else}}
                <tr>
                    <th>Add a record to get started!</th>
                </tr>
            {{/if}}
            {{#each results}}
                <tr>
                    <td class="id field" hidden>{{this.id}}</td>
                    <td class="name field">{{this.name}}</td>
                    <td class="reps field">{{this.reps}}</td>
                    <td class="weight field">{{this.weight}}</td>
                    <td class="date field">{{this.date}}</td>
                    <td class="lbs field">{{#if this.lbs}}lbs.{{else}}kgs.{{/if}}</td>
                    <td class="btn"><button class="edit">edit</button></td>
                    <td class="btn"><button class="delete">delete</button></td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

{{!-- Link Application Functionality --}}
<script src="/scripts/script.js"></script>